<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>wsUrl</key>
        <string>http://127.0.0.1:8080</string>
        <key>wsApi</key>
        <string>ReportsWS</string>
        <key>clientID</key>
        <string>ios</string>
        <key>clientSecret</key>
        <string>iosSecret</string>
    </dict>
</plist>
